# Database Configuration
DATABASE_URL=postgresql://reidin_user:prypco123@localhost:5432/reidin_data

# API Configuration
API_BASE_URL=https://api.reidin.com/api/v2/
API_TOKEN=

# SQLAlchemy Configuration
SQLALCHEMY_ECHO=False
SQLALCHEMY_POOL_SIZE=5
SQLALCHEMY_MAX_OVERFLOW=10

# Environment Configuration
ENV=development
DEBUG=True

# Logging
LOG_LEVEL=INFO

DB_HOST=prypco-reiden-data.postgres.database.azure.com
DB_PORT=5432
DB_NAME=reiden-data
DB_USER=reidenuser
DB_PASSWORD=